{% if object.registrationNumber is defined %}
    {{ form_row(object.registrationNumber) }}
{% endif %}
{% if object.registrationNumberCountry is defined %}
    <div class="md:w-1/2 fr-mb-6v">
        {{ form_row(object.registrationNumberCountry) }}
    </div>
{% endif %}
{% if object.insuranceCompany is defined %}
    {{ form_row(object.insuranceCompany) }}
{% endif %}
{% if object.insuranceNumber is defined %}
    {{ form_row(object.insuranceNumber) }}
{% endif %}
