{% extends 'base.html.twig' %}

{% block body %}
    <div class="fr-container--fluid fr-p-1w">
        {{ component('continuation', {
            class: 'fr-py-1w'
        }) }}
    </div>
{% endblock %}
