.background
    &-white
        background: var(--background-default-grey)

    &-transparent
        // Important is needed here to override default DSFR styles.
        background: transparent !important

    &-black
        &-transparent
            background: $black-transparent

    &-blue
        // Important is needed here to override default Bootstrap styles.
        background: var(--text-action-high-blue-france) !important

    &-cumulus
        background: var(--background-alt-blue-france-hover)

    &-light
        // Important is needed here to override default DSFR styles.
        background: var(--blue-france-975-75) !important

        &-hover
            &:hover
                // Important is needed here to override default DSFR styles.
                background: var(--blue-france-975-75) !important

    &-red
        background: var(--background-action-high-red-marianne-hover)

    &-yellow
        background: var(--background-alt-green-tilleul-verveine-hover)

    &-green
        background: var(--background-flat-success)

    &-stepper
        &-blue
            @include background-stepper(var(--text-action-high-blue-france))

        &-yellow
            @include background-stepper(var(--background-alt-green-tilleul-verveine-hover))

        &-green
            @include background-stepper(var(--background-flat-success))
