.background
    &-white
        background: var(--background-default-grey)

    &-transparent
        // Important is needed here to override default DSFR styles.
        background: transparent !important

    &-black
        &-transparent
            background: $black-transparent

    &-blue
        // Important is needed here to override default Bootstrap styles.
        background: var(--text-action-high-blue-france) !important

    &-cumulus
        background: var(--background-alt-blue-france-hover)
