.border
    &-bottom
        &-active
            &:hover,
            &.active
                // Important is needed here to override default Bootstrap styles.
                border-bottom: 3px solid transparent !important

    &-blue
        &-active
            &:hover,
            &.active
                // Important is needed here to override default Bootstrap styles.
                border-color: var(--text-action-high-blue-france) !important

        &-top
            // Important is needed here to override default Bootstrap styles.
            border-top: 3px solid var(--text-action-high-blue-france) !important
