.comment
    &-box
        max-height: $height-450px

        @media screen and (max-width: $breakpoint-medium)
            max-height: $height-70vh
            height: $height-70vh

    &-feed
        @media screen and (max-width: $breakpoint-medium)
            top: 0
            right: 0
            bottom: 0
            left: 0
