.rounded
    &-pill
        &--up
            @include rounded
            // Important is needed here to override Bootstrap default badge.
            position: absolute !important
            margin-top: -$margin-small
            margin-left: -$margin-normal
