.text
    &-blue
        // Important is needed to override Bootstrap styles.
        color: var(--text-action-high-blue-france) !important

    &-blue
        &-hover
            &:hover,
            &.active
                // Important is needed to override Bootstrap styles.
                color: var(--text-action-high-blue-france) !important

    &-black
        // Important is needed to override Bootstrap styles.
        color: var(--text-default-grey) !important
