.width
    &-20
        width: $width-20

        @media screen and (max-width: $breakpoint-large)
            width: $width-50

        @media screen and (max-width: $breakpoint-medium)
            width: $width-100

    &-20px
        width: $width-20px

    &-auto
        width: fit-content

    &-lg
        &-100
            @media screen and (max-width: $breakpoint-large)
                width: $width-100
