@mixin reset
    margin: 0
    padding: 0

@mixin flex($direction, $justify-content, $align-items)
    display: flex
    flex-direction: $direction
    justify-content: $justify-content
    align-items: $align-items

@mixin inline-flex($direction, $justify-content, $align-items)
    display: inline-flex
    flex-direction: $direction
    justify-content: $justify-content
    align-items: $align-items

@mixin circled
    // Important is needed here to override Bootstrap.
    border-radius: 100% !important
    -webkit-border-radius: 100% !important
    -moz-border-radius: 100% !important

@mixin rounded
    // Important is needed here to override Bootstrap.
    border-radius: 20px !important
    -webkit-border-radius: 20px !important
    -moz-border-radius: 20px !important

@mixin reset-link
    // Important is needed here to override DataTables and DSFR.
    text-decoration: none !important
    background: transparent !important

    &:hover,
    &:focus
        text-decoration: none !important

@mixin reset-border-radius
    // Important is needed here to override Bootstrap.
    border-radius: 0 !important
    -webkit-border-radius: 0 !important
    -moz-border-radius: 0 !important

@mixin reset-border
    // Important is needed here to override DataTables.
    border: none !important

@mixin reset-shadow
    // Important is needed here to override Bootstrap.
    box-shadow: none !important

@mixin background-stepper($color)
    background-image: repeating-linear-gradient(to right, $color 0, $color var(--active-inner), transparent var(--active-inner), transparent var(--active-outer)), repeating-linear-gradient(to right, var(--background-contrast-grey) 0, var(--background-contrast-grey) var(--default-inner), transparent var(--default-inner), transparent var(--default-outer))
