// Colors
$white: #fff
$black: #000
$blue: #000f8a
$french-blue: #000091
$grey: #f1f3f8
$grey-dark: #6c757d

// Sizing
$button-fixed-width: 135px
$image-width: 100px
$placeholder-lrp-width: 80px
$half-width: 50%
$comment-height: 300px
$border-width: 1px

// Margins
$margin-medium: 20px
