// Colors
$white: #fff
$black: #000
$blue: #000f8a
$blue-2: #0062cc
$blue-dark: #0255af
$blue-dark-2: #014a9b
$french-blue: #000091
$cyan: #45cbe1
$cyan-2: #41afc4
$cyan-dark: #3a9db0
$cyan-dark-2: #348fa1
$grey: #f1f3f8
$grey-dark: #6c757d
$transparent: transparent

// Sizing
$button-fixed-width: 135px
$button-fixed-width-2: 200px
$image-width: 100px
$placeholder-lrp-width: 80px
$half-width: 50%
$comment-height: 300px
$border-width: 1px
$avatar-size: 2.25rem
$avatar-size-2: 4.5rem

// Margins
$margin-small: 5px
$margin-normal: 10px
$margin-medium: 20px

// Paddings
$padding-3: 3px
$padding-7: 7px
$padding-10: 10px
$padding-20: 20px

// Bootstrap accordion
$accordion-button-active-color: $black
$accordion-button-active-bg: $grey
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z'/></svg>")
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 12v1h23v-1h-23z'/></svg>")
$accordion-icon-transform: none

// Width
$width-20: 20%
$width-31: 31%
$width-50: 50%
$width-100: 100%
$width-50px: 50px

// Height
$height-50: 50%
$height-100: 100%
$height-50px: 50px
$height-100px: 100px

// Breakpoints
$breakpoint-medium: 768px
$breakpoint-large: 992px

// Border
$border-1: 1px solid

// Border Radius
$border-radius-25: 25px

// Font Size
$font-size-34: 34px

// Background Positions
$background-position-center: 50% 50%
