// Colors
$white: #fff
$black: #000
$blue: #000f8a
$french-blue: #000091
$grey: #f1f3f8
$grey-dark: #6c757d

// Sizing
$button-fixed-width: 135px
$image-width: 100px
$placeholder-lrp-width: 80px
$half-width: 50%
$comment-height: 300px
$border-width: 1px
$avatar-size: 2.25rem

// Margins
$margin-small: 5px
$margin-normal: 10px
$margin-medium: 20px

// Bootstrap accordion
$accordion-button-active-color: $black
$accordion-button-active-bg: $grey
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z'/></svg>")
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 12v1h23v-1h-23z'/></svg>")
$accordion-icon-transform: none
