version: "3.4"

# Development environment override
services:
  blackfire:
    image: blackfire/blackfire:2
    env_file: .env.local
    ports:
      - "8307:8307"

  reverse-proxy:
    image: traefik:v2.8
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik=true
    restart: unless-stopped
    ports:
      - "443:443"
      - "8080:8080"
    volumes:
      - ./docker/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./docker/traefik/config.yml:/etc/traefik/config.yml:ro
      - ./certs:/etc/certs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  nginx-citoyen:
    environment:
      SERVER_NAME: "citoyen.pel.localhost"
      PHP_HOST: "php-citoyen"
      PHP_PORT: "9000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.citoyen.tls=true
      - traefik.http.routers.citoyen.rule=Host("citoyen.pel.localhost")
    volumes:
      - ./docker/nginx/dev/citoyen.dev.conf:/etc/nginx/conf.d/citoyen.dev.template
    command: /bin/bash -c "envsubst '$${SERVER_NAME} $${PHP_HOST} $${PHP_PORT}' < /etc/nginx/conf.d/citoyen.dev.template > /etc/nginx/conf.d/citoyen.dev.conf && nginx -g 'daemon off;'"

  nginx-agent:
    environment:
      SERVER_NAME: "agent.pel.localhost"
      PHP_HOST: "php-agent"
      PHP_PORT: "9000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.agent.tls=true
      - traefik.http.routers.agent.rule=Host("agent.pel.localhost")
    volumes:
      - ./docker/nginx/dev/agent.dev.conf:/etc/nginx/conf.d/agent.dev.template
    command: /bin/bash -c "envsubst '$${SERVER_NAME} $${PHP_HOST} $${PHP_PORT}' < /etc/nginx/conf.d/agent.dev.template > /etc/nginx/conf.d/agent.dev.conf && nginx -g 'daemon off;'"

  php-citoyen:
    volumes:
      - ./portail_citoyen:/srv/citoyen:rw,cached
      - ./portail_citoyen/docker/php/conf.d/symfony.dev.ini:/usr/local/etc/php/conf.d/symfony.ini
    environment:
      APP_ENV: dev
    deploy: # We need this for a fresh install
        resources:
            limits:
                memory: 1G
            reservations:
                memory: 1G

  php-agent:
    volumes:
      - ./portail_agent:/srv/agent:rw,cached
      - ./portail_agent/docker/php/conf.d/symfony.dev.ini:/usr/local/etc/php/conf.d/symfony.ini
    environment:
      APP_ENV: dev

  mailer:
    image: schickling/mailcatcher
    ports: [1025, 1080]

  redis-citoyen:
    ports:
      - "6379:6379"

  node-citoyen:
    ports:
      - "8089:8089" # Port for webpack-dev-server

  node-agent:
    ports:
      - "8090:8090" # Port for webpack-dev-server