{% extends "base.html.twig" %}

{% block layout %}
    {% block header %}{{ include('common/_header.html.twig') }}{% endblock %}
    <div class="container container-fluid w-100 mw-100 m-0 p-0">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
