parameters:
    level: max
    paths:
        - src/
        - tests/

includes:
    - phpstan-baseline.neon
    - tools/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/vendor/phpstan/phpstan-doctrine/extension.neon
