default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\BaseContext
                - FailAid\Context\FailureContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        FailAid\Extension:
            screenshot:
                directory: ./build/screenshots/
                mode: default
                autoClean: true

func:
    suites:
        default:
            filters:
                tags: '~@javascript&&~@e2e'
    extensions:
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~


e2e:
    suites:
        default:
            filters:
                tags: '~@func'
    extensions:
        Behat\MinkExtension:
            base_url: http://nginx-agent
            browser_name: chrome
            sessions:
                selenium:
                    selenium2:
                        wd_host: http://chrome:4444/wd/hub
                        browser: chrome
                        capabilities:
                            browserName: "chrome"
                            extra_capabilities:
                                chromeOptions:
                                    w3c: false
                                    args:
                                        - "--headless"
                                        - "--no-sandbox"
                                        - "--disable-gpu"
                                        - "--disable-dev-shm-usage"
