parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Faker\\\\Generator\\:\\:\\$mobileNumber\\.$#"
			count: 3
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$author of method App\\\\Entity\\\\Comment\\:\\:setAuthor\\(\\) expects App\\\\Entity\\\\User, mixed given\\.$#"
		    count: 5
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$alert of method App\\\\Entity\\\\Complaint\\:\\:setAlert\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$cctvPresent of method App\\\\Entity\\\\AdditionalInformation\\:\\:setCctvPresent\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$datetime of class DateTimeImmutable constructor expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$endAddress of method App\\\\Entity\\\\Facts\\:\\:setEndAddress\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$exactHourKnown of method App\\\\Entity\\\\Facts\\:\\:setExactHourKnown\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$model of method App\\\\Entity\\\\FactsObjects\\\\MultimediaObject\\:\\:setModel\\(\\) expects string\\|null, mixed given\\.$#"
			count: 2
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$natures of method App\\\\Entity\\\\Facts\\:\\:setNatures\\(\\) expects array\\<int\\>\\|null, array\\<int, mixed\\> given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$operator of method App\\\\Entity\\\\FactsObjects\\\\MultimediaObject\\:\\:setOperator\\(\\) expects string\\|null, mixed given\\.$#"
			count: 2
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$description of method App\\\\Entity\\\\FactsObjects\\\\PaymentMethod\\:\\:setDescription\\(\\) expects string, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		     message: "#^Parameter \\#1 \\$bank of method App\\\\Entity\\\\FactsObjects\\\\PaymentMethod\\:\\:setBank\\(\\) expects string\\|null, mixed given\\.$#"
		     count: 1
		     path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$model of method App\\\\Entity\\\\FactsObjects\\\\Vehicle\\:\\:setModel\\(\\) expects string\\|null, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$registrationNumber of method App\\\\Entity\\\\FactsObjects\\\\Vehicle\\:\\:setRegistrationNumber\\(\\) expects string\\|null, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$place of method App\\\\Entity\\\\Facts\\:\\:setPlace\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$suspectsKnownText of method App\\\\Entity\\\\AdditionalInformation\\:\\:setSuspectsKnownText\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Parameter \\#1 \\$witnessesPresentText of method App\\\\Entity\\\\AdditionalInformation\\:\\:setWitnessesPresentText\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$nature of method App\\\\Entity\\\\FactsObjects\\\\SimpleObject\\:\\:setNature\\(\\) expects string, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$description of method App\\\\Entity\\\\FactsObjects\\\\SimpleObject\\:\\:setDescription\\(\\) expects string, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
		    message: "#^Parameter \\#1 \\$declarantStatus of method App\\\\Entity\\\\Identity\\:\\:setDeclarantStatus\\(\\) expects int, mixed given\\.$#"
		    count: 1
		    path: src/DataFixtures/Complaint/ComplaintFakerFixtures.php

		-
			message: "#^Call to an undefined method Behat\\\\Testwork\\\\Environment\\\\Environment\\:\\:getContext\\(\\)\\.$#"
			count: 1
			path: tests/Behat/BaseContext.php

		-
			message: "#^Class App\\\\Tests\\\\Behat\\\\BaseContext has an uninitialized readonly property \\$userContext\\. Assign it in the constructor\\.$#"
			count: 1
			path: tests/Behat/BaseContext.php

		-
			message: "#^Method App\\\\Tests\\\\Behat\\\\BaseContext\\:\\:visit\\(\\) has parameter \\$page with no type specified\\.$#"
			count: 1
			path: tests/Behat/BaseContext.php

		-
			message: "#^Readonly property App\\\\Tests\\\\Behat\\\\BaseContext\\:\\:\\$userContext is assigned outside of the constructor\\.$#"
			count: 1
			path: tests/Behat/BaseContext.php
