.fr-accordion
  &__title
    &--background-default-grey
      background: var(--background-default-grey)

.accordion
  &__item
      &__title
          background-color: $grey
          color: $blue
          font-size: $font-size-large
          padding: $padding-medium
          border: 1px solid $grey-dark
          font-weight: $font-weight-semi-bold
          cursor: pointer

          span
              color: $grey-darker

      &__content
          display: none
          padding: $padding-normal 0

          p
              &:last-child
                  margin-bottom: 0
