.list
    &--addresses
        @include reset-list
        border: 1px solid var(--background-default-grey-hover)

        &__item
            @include transition
            padding: $padding-medium
            background-color: var(--background-default-grey)
            border-top: 1px solid var(--background-default-grey-hover)
            color: var(--text-label-grey)

            &:hover
                cursor: pointer
                background-color: var(--background-default-grey-hover)

.pel-list
    &--downloaded-files
        > :not(:nth-last-child(-n+2))
            border-bottom: 1px solid var(--border-default-grey)
