{% if breadcrumbs is defined and breadcrumbs is not empty %}
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane
        </button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                {% for label, route in breadcrumbs %}
                    <li>
                        {% if route %}
                            <a class="fr-breadcrumb__link" href="{{ path(route) }}">{{ label|trans }}</a>
                        {% else %}
                            {{ label|trans }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </nav>
{% endif %}
