<nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
        <li class="fr-nav__item">
            <a
                class="fr-nav__link"
                href="{{ path('home_orienteer') }}"
                target="_self"
                {% if app.request.get('_route') is same as ('visitor_agreement') %}aria-current="page"{% endif %}
            >{{ 'file.a.complaint'|trans }}</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="#" target="_self">{{ 'faq'|trans }}</a>
        </li>
    </ul>
</nav>
