{
    # Debug
    {$DEBUG}
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

citoyen.pel.localhost {
    root * /srv/citoyen/public
    route {
        push
        php_fastcgi unix//var/run/php/8/php-fpm.sock
        encode zstd gzip
        file_server
    }
    log
}

agent.pel.localhost {
    root * /srv/agent/public
    route {
        push
        php_fastcgi unix//var/run/php/7/php-fpm.sock
        encode zstd gzip
        file_server
    }
    log
}

