@import "components/_modal.scss";

body {
    background-color: white;
}

#image_logo {
    width: 100px;
}

#title_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title_navigation a {
    color: #000;
    text-decoration: none;
}

#navigation ul {
    display: flex;
}

#navigation li {
    margin-right: 20px;
}

.table-head {
    color: #fff;
    background-color: #000F8A;
}

.form-control:disabled, .form-select:disabled {
    background-color: #f1f3f8;
}

.form-check-input:disabled ~ .form-check-label {
    opacity: 1;
}
