{# src/Alstef/IhmBundle/Resources/views/non_autorise.html.twig #}
{% extends 'AlstefIhmBundle:Layout:Base/BaseLogin.html.twig' %}
{% block body %}
<h1 style="text-align:center; padding-top: 200px;">
Terminal non autorisé
</h1>
{% endblock %}
