{% extends 'layout.html.twig' %}

{% block body %}
    <div class="fr-container">
        {% block breadcrumbs %}
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="fr-grid-row">
                    <div class="fr-col">
                        {{ include('common/_breadcrumb.html.twig', {breadcrumbs:breadcrumbs} ) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block complaint_step_form %}{% endblock %}
    </div>
{% endblock %}
