{% extends 'pages/complaint/layout.html.twig' %}

{% block main %}
    <div class="border border-secondary bg-light rounded p-3">
        <span id="declarant-identity" class="fs-3 fw-semibold lh-lg">{{ 'pel.appointment.management'|trans }}</span>
    </div>
{% endblock %}
