{% extends 'pages/complaint/layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block main %}
    <div class="fr-background-default--grey appointment-content fr-mt-md-3v fr-px-md-14v fr-pb-md-20v">
        {{ include('pages/complaint/_partial/appointment_content.html.twig') }}
    </div>
{% endblock %}
