{% extends 'layout.html.twig' %}

{% block body %}
    {% block mainContainer %}
        {% block toaster %}
            {% include 'pages/complaint/_partial/toaster.html.twig' %}
        {% endblock %}
        <main data-controller="complaint" data-complaint-target="complaintContainer" id="complaint-container">
            <div class="container-fluid min-vh-100 d-flex flex-column w-100 mw-100 m-0 p-0">
                <div class="row flex-grow-1 g-0">
                    <div class="col-md-3 col-lg-2 shadow p-4 background-white">
                        {% include 'pages/complaint/_partial/menu.html.twig' %}
                    </div>
                    <div class="col-md-9 col-lg-10 mx-auto p-4">
                        {% block main %}{% endblock %}
                        {% block comment %}
                            {% include 'pages/complaint/_partial/comments.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
                {% block modal %}
                    {% if workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_ASSIGN')) %}
                        {% include 'pages/complaint/_partial/modals/assign.html.twig' with {
                            'assignedTo': complaint.assignedTo,
                            'complaintId': complaint.id,
                            'assignForm': assign_form
                        } %}
                    {% endif %}
                    {% if workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_REJECT')) %}
                        {% include 'pages/complaint/_partial/modals/reject.html.twig' with {
                            'rejectForm': reject_form,
                            'complaintId': complaint.id
                        } %}
                    {% endif %}
                    {% if workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_SEND_TO_LRP')) %}
                        {% include 'pages/complaint/_partial/modals/send_to_lrp.html.twig' with {
                            'complaintId': complaint.id
                        } %}
                    {% endif %}
                    {% if workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_CLOSE_AFTER_APPOINTMENT')) %}
                        {% include 'pages/complaint/_partial/modals/close_after_appointment.html.twig' with {
                            'sendReportForm': send_report_form,
                            'complaintId': complaint.id
                        } %}
                    {% elseif workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_CLOSE_AFTER_SENDING_THE_REPORT')) %}
                        {% include 'pages/complaint/_partial/modals/send_to_victim.html.twig' with {
                            'sendReportForm': send_report_form,
                            'complaintId': complaint.id
                        } %}
                    {% endif %}
                    {% if workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_REJECT_UNIT_REDIRECTION')) %}
                        {% include 'pages/complaint/_partial/modals/reassign_validation.html.twig' with {
                            'unitReassignForm': unit_reassign_form,
                            'complaintId': complaint.id
                        } %}
                    {% elseif workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_ASK_UNIT_REDIRECTION')) or workflow_can(complaint, constant('App\\Complaint\\ComplaintWorkflowManager::TRANSITION_UNIT_REDIRECT')) %}
                        {% include 'pages/complaint/_partial/modals/reassign.html.twig' with {
                            'unitReassignForm': unit_reassign_form,
                            'complaintId': complaint.id
                        } %}
                    {% endif %}
                    {% include 'pages/complaint/_partial/modals/cancel_appointment.html.twig' with {
                        'complaintId': complaint.id
                    } %}
                {% endblock %}
            </div>
        </main>
    {% endblock %}
{% endblock %}
