.extensions: &extensions
     extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: e2e
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            files_path: "%paths.base%/tests/Behat/Files"
            base_url: http://nginx-citoyen
            browser_name: chrome
            sessions:
                selenium:
                    selenium2:
                        wd_host: http://chrome:4444/wd/hub
                        browser: chrome
                        capabilities:
                            browserName: "chrome"
                            extra_capabilities:
                                chromeOptions:
                                    w3c: false
                                    args:
                                       - "--headless"
                                       - "--no-sandbox"
                                       - "--disable-gpu"
                                       - "--disable-dev-shm-usage"
                                       - "--window-size=1920,1080"
                                       - "--force-prefers-reduced-motion"
.contexts: &contexts
    contexts:
        - App\Tests\Behat\BaseContext
        - App\Tests\Behat\FranceConnectContext
        - App\Tests\Behat\GoogleMapsContext
        - FailAid\Context\FailureContext

default:
    suites:
        default:
            <<: *contexts

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        FailAid\Extension:
            screenshot:
                directory: ./build/screenshots/
                mode: default
                autoClean: true

func:
    suites:
        default:
            filters:
                tags: '~@javascript&&~@e2e&&~@flaky'
    extensions:
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php

e2e:
    suites:
        complete_workflow:
            paths: [ '%paths.base%/features/complete_workflow' ]
            <<: *contexts
            filters:
                tags: '~@func&&~@flaky'
        complaint_1:
            paths:
                - '%paths.base%/features/complaint/identity'
                - '%paths.base%/features/complaint/additional_information.feature'
            <<: *contexts
            filters:
                tags: '~@func&&~@flaky'
        complaint_2:
            paths:
                - '%paths.base%/features/complaint/declarant_status.feature'
                - '%paths.base%/features/complaint/end.feature'
                - '%paths.base%/features/complaint/facts.feature'
                - '%paths.base%/features/complaint/identity.feature'
                - '%paths.base%/features/complaint/objects.feature'
                - '%paths.base%/features/complaint/appointment.feature'
            <<: *contexts
            filters:
                tags: '~@func&&~@flaky'
        default:
            paths:
                - '%paths.base%/features/help'
                - '%paths.base%/features/home'
                - '%paths.base%/features/authentication.feature'
                - '%paths.base%/features/france-connect.feature'
                - '%paths.base%/features/not-found.feature'
                - '%paths.base%/features/my-complaints-reports.feature'
            <<: *contexts
            filters:
                tags: '~@func&&~@flaky'
    <<: *extensions

flaky-e2e:
    suites:
        default:
            filters:
                tags: '@flaky'
    <<: *extensions
