{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div class="fr-background-action-high--blue-france">
		<div class="fr-container flex flex-col md:flex-row items-start fr-pt-md-16v fr-px-md-8v fr-pb-md-30v">
			{{ include('common/_stepper.html.twig') }}
			<div class="fr-container fr-background-default--grey p-0">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
