<div id="top" class="fr-skiplinks">
	<nav class="fr-container" role="navigation" aria-label="{{ 'pel.navigation'|trans }}">
		<ul class="fr-skiplinks__list">
			<li>
				<a class="fr-link" href="#contenu">{{ 'pel.main'|trans }}</a>
			</li>
			<li>
				<a class="fr-link" href="#header-navigation">{{ 'pel.header.menu'|trans }}</a>
			</li>
			<li>
				<a class="fr-link" href="#footer">{{ 'pel.footer'|trans }}</a>
			</li>
		</ul>
	</nav>
</div>
