{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.goods.concerned'|trans %}
{% set current_step_number = 4 %}
{% set next_step_title = 'pel.further.information'|trans %}
{% set isAppointmentRequiredOrAsked = complaint.isAppointmentRequired or complaint.appointment.appointmentAsked|default(false) %}

{% block title %}
    {% if isAppointmentRequiredOrAsked is same as(false) %}
    	{{ 'pel.goods.concerned.title'|trans }}
    {% else %}
    	{{ 'pel.goods.concerned.title.with.appointment'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <div data-controller="form">
        {{ component('objects', {fromSummary: from_summary}) }}
    </div>
{% endblock %}
