{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.complaint.your.identity'|trans %}
{% set current_step_number = 2 %}
{% set next_step_title = 'pel.facts.description'|trans %}

{% block title %}
	{{ 'pel.your.identity.title'|trans }}
{% endblock %}

{% block content %}
	<div data-controller="form">
		{{ component('identity', {fromSummary: from_summary}) }}
	</div>
{% endblock %}

{% block end %}
	<a class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" href="{{ path('complaint_facts') }}">{{ 'pel.complete.my.declaration'|trans }}</a>
{% endblock %}
