{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.summary.of.declaration'|trans %}
{% set current_step_number = 6 %}
{% set isAppointmentRequiredOrAsked = complaint.isAppointmentRequired or complaint.appointment.appointmentAsked|default(false) %}
{% if isAppointmentRequiredOrAsked is same as(false) %}
    {% set next_step_title = 'pel.registered.declaration'|trans %}
{% else %}
    {% set next_step_title = 'pel.appointment.booking'|trans %}
{% endif %}

{% block title %}
    {% if isAppointmentRequiredOrAsked is same as(false) %}
        {{ 'pel.summary.of.declaration.title'|trans }}
    {% else %}
        {{ 'pel.summary.of.declaration.title.with.appointment'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <div data-controller="form">
        {{ component('summary') }}
    </div>
{% endblock %}
