{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ 'home.orienteer.information.message.1'|trans }}
        <br/><br/>
        {{ 'home.orienteer.information.message.2'|trans }}
        <br/><br/>
        {{ 'home.orienteer.information.message.3'|trans }}
    </div>
{% endblock %}
