<h1 class="text-[28px]/9 md:text-[40px]/[48px] fr-mb-2v">{{ 'pel.summary.of.declaration'|trans }}</h1>
<b>{{ 'pel.summary.is.not.legal.proof'|trans }}</b>
<p>{{ 'pel.summary.official.documents.will.be.sent'|trans }}</p>
