<div class="toast-container top-0 end-0 p-3 position-fixed">
    {% include 'pages/home/_partial/toaster/assign_toast.html.twig' %}
    {% include 'pages/home/_partial/toaster/unit_reassign_toast.html.twig' %}
</div>
