<div {{ attributes.add(stimulus_controller('google-maps')) }}>
    <input id="map-search" type="text" placeholder="{{ 'pel.search.in.google.maps'|trans }}" class="map-search"/>
    <div id="map" class="map"></div>
</div>
